html, body {
    height:100%;
    margin:0;
    background:#f0f7da !important
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.btn-link:focus, .btn-link:hover {
    color: inherit !important;
    text-decoration: none !important;
    transition: all 0.3s;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #282c28 !important;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px 20px 20px 20px;
    background: linear-gradient(87deg,#f0f7da,#c9df8a) !important;
}

#sidebar .sidebar-header h3 {
    color: #444;
}

#sidebar ul.components {
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #c9df8a;
    border-top: 1px solid #c9df8a;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
    background: #353839 !important;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

#sidebar ul li button {
    padding:10px !important;
    font-size:1.1em;
    display: block;
    color: inherit !important;
}

#sidebar ul li:hover {
    color: #7386D5;
    background: #fff;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

#content {
    width: 100%;
    padding:5px;
    min-height: 100vh;
    transition: all 0.3s;
}

ul.navbar-nav > li.form-inline > form.form-inline input.search-form {
    padding:0px;
}

ul.navbar-nav > li.form-inline > form.form-inline input.search-form {
    color: #424242 !important;
    border-bottom: 1px solid rgba(153,153,153,.3) !important;
}

ul.navbar-nav > li.form-inline > form.form-inline input.search-form {
	font-weight: 300;
	padding-left: 1.88rem;
}

ul.navbar-nav > li.form-inline > form.form-inline input.search-form {
	border-bottom: 1px solid rgba(255,255,255,.65);
}

ul.navbar-nav > li.form-inline > form.form-inline input.search-form .form-control {
	margin-bottom: 0;
}

.btn-floating {
	-webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
	box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
	width: 47px;
    height: 47px;
    background: #fff;
	position: relative;
	z-index: 1;
	vertical-align: middle;
	display: inline-block;
	overflow: hidden;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	margin: 10px;
	-webkit-border-radius: 50% !important;
    border-radius: 50% !important;
    border:1px solid #fff;
	padding: 0;
	cursor: pointer;
}

.btn-floating i {
    color: #444;
}
ul.navbar-nav > li.form-inline > form.form-inline input.search-form {
    /* display:none !important; */
}

.sticky-top {
    background: #f0f7da !important;
    border-bottom: 1px solid #E9ECEF;
}

.navbar .form-control {
	color:#444 !important;
	border-bottom: 1px solid rgba(153,153,153,.3) !important;
	font-weight: 300;
	padding-left: 1.88rem;

	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	/* border-bottom: 1px solid #ced4da; */
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	background-color: transparent;
}

.testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom: 1px solid #E9ECE4;
}

.testimonial-card .avatar {
    width: 120px;
    margin-top: -60px;
    overflow: hidden;
    border: 5px solid #fff;
    border-radius: 50%;
}

.card-header .heading {
	margin:0 !important;
	padding: .3rem !important;
	font-size:1.0rem !important;
	color:#444 !important;
	font-weight:300 !important;
}
.modal-header .heading {
	margin:0 !important;
	padding: .3rem !important;
	font-size:1.0rem !important;
	color:#444 !important;
	font-weight:300 !important;
}

.cardheader-padding-sm {
    padding: 0.25rem 0.41rem;
}

.card-header-white {
    background-color: rgba(0,0,0,.0) !important;
}

.flex-col-w {
    flex: 1;
    padding: 16px;
}

.border-rad-0 {
    border-radius: 0;
}

div.profile-item .card-text {
    font-size: 0.85em !important;
}